body{
  background-color: #47B5FF;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/********************** Form Outer Div *********************/
.formOuter{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.formInner{
  height:15rem;
  width: 22rem;
  background-color: #fff;
  border-radius: 7px;
}

/************************** Heading ****************/
.heading{
  padding: 1%;
  border-bottom: 2px solid lightgray;
}
.heading h4{
  margin: 3% 7%;
  font-size: 1.2rem;
  color: #47B5FF;
}

/*********************** Input_Location ************************/

.input-location{
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form{
  margin: 5% 5% 3% 5%;
  padding: .5% 2%;
  border: 2px solid lightgray;
  border-radius: 5px;
}
.form input{
  padding: 2% 0;
  width: 16.4rem;
  height: 1.8rem;
  font-size: 1rem;
  border: none;
  outline: none;
}
.form input::placeholder{
  text-align: center;
  color: rgb(180, 170, 170);
}
.devicelocation{
  margin: 3%;
}

.devicelocation button{
  width: 17.5rem;
  height: 2.6rem;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: #47B5FF;
  outline: none;
}

.border{
  display: flex;
  justify-content: center;
  align-items: center;
}
.or{
  position: relative;
  color: rgb(194, 185, 185);

}
.or::before{
  content: "";
  position: absolute;
  top:.6rem;
  right: 2rem;
  height: .7px;
  width: 7.1rem;
  border-bottom: 2px solid lightgray;
}

.or::after{
  content: "";
  position: absolute;
  top:.6rem;
  left: 2rem;
  height: .7px;
  width: 7.1rem;
  border-bottom: 2px solid lightgray;
}

/*********************** Searched City ***********************/

.searched-city-outer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searched-city-inner{
  
  height: 28rem;
  width: 21rem;
  background-color: #fff;
}

.searched-city-top-inner{
  display: flex;
  align-items: center;
  padding: 1.5%;
  padding-left: 5%;
  border-bottom: 1.7px solid lightgray;
  color: #47B5FF;
}
.searched-city-top-inner h3{
  margin: 3%;
  margin-left: 5%;
}

.searched-city-top-inner i{
  cursor: pointer;
}

.weather-png{
  height: 8.5rem;
}

.searched-city-middle{
  padding: 2%;
  font-family:sans-serif;
  border-bottom: 1.7px solid lightgray;
}

.searched-city-bottom{
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 10rem;
}
.foot-left{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.foot-right{
  height: 99.9%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-left: 1.5px solid lightgray;
  
}